:root {
    --bg-color: #0b1d3a;
    
}

/* Nav Bar */
.nav_bar {
    background: #faf9f6;
    padding: 15px;
    margin: 40px 20px 10px 20px;
    border-radius: 20px;
    font-family: Arial;
    position: sticky;
    top: 40px;
    z-index: 1000;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    gap: 1rem;
}

ul li a {
    text-decoration: none;
    color: #010013;
    padding: 5px;
    font-size: 22px;
    word-spacing: 2px;
}
