* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #010013;
}

.nav_bar {
    background: #faf9f6;
    padding: 15px;
    margin: 40px 20px 10px 20px;
    border-radius: 20px;
    font-family: Arial;
    position: sticky;
    top: 40px;
}

ul li a:hover {
    color: #e31919;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    gap: 1rem;
}

ul li a{
    text-decoration: none;
    color: black;
    padding: 5px;
    font-size: 22px;
    word-spacing: 2px;
}

p {
    color: #faf9f6;
}

p span {
    color: #e31919;
}

.intro {
    font-size: 65px;
}

.home {
    display: flex;
    flex-direction: row;
    font-family: Arial;
    margin-bottom: 50px;
    scroll-margin-top: 110px;
}

.home img {
    border-radius: 10px;
    width: 500px;
    height: 350px;
    margin: 80px 70px 80px 100px;
}

.text_and_btn {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    margin-top: 76px;
    font-size: 44px;
}

.text_and_btn a {
    background: #faf9f6;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    color: #e31919;
    margin-top: 10px;
}

.text_and_btn a:hover {
    background: #e31919;
    color: black;
}

